
h1{
  display: flex;
  justify-content: center;
}

.janken{
  -webkit-animation: scrollmask 35s ease 1.5s infinite;
  -webkit-background-clip: text;
  background-image: url(img/star.jpg);
  color: transparent;
  font-size: 40px;
}
@-webkit-keyframes scrollmask {
  0% {background-position: 0 0;}
  100% {background-position: 100% 0;}
}

#sentaku{
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

#gubox{
 display: flex;
 align-items: center;
 justify-content: center;
 padding-bottom: 20px;
}

#chokibox{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#pabox{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 150px;
  display: flex;
  justify-content: center;
  margin: auto;
}

#test{
  padding-left: 50px;
  padding-top: 50px;
}

.star {
    animation: kirakira 8s linear;
    color: yellow;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    position: fixed;
    top: -1em;
    z-index: 1000;
}

@keyframes kirakira {
    0% {
        transform:translateY(0) rotateY(0);
    }
    100% {
        transform:translateY(calc(100vh + 1em)) rotateY(3600deg);
    }
}
